@keyframes pulsate {
  50% {
    font-weight: bold; } }

body {
  background-color: transparent !important; }

#clock-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
  padding: 0px;
  text-align: center; }
  #clock-actions .clock-action {
    padding-left: 0.5em;
    padding-right: 0.5em; }
  #clock-actions .clock-action:nth-child(2) {
    border-color: #000000;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 0.1em; }

#clock-container {
  border-radius: 1vw;
  box-shadow: 0.15vw 0.15vw 0.5vw #555555;
  margin: auto;
  width: 50vw; }

.no-time-zone {
  animation-name: pulsate;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

#panel-description {
  text-align: justify; }

@media (max-width: 768px) {
  #clock-container {
    width: 75vw; }
  #clock-actions .clock-action {
    flex: 1 1 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em; }
  #clock-actions .clock-action:nth-child(2) {
    border-left-style: none;
    border-right-style: none; } }
