<ol id="clock-container">
    <li class="digit-container">
        <ul class="slide-container hour-tens">
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
        <ul class="slide-container hour-ones">
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
    </li>
    <li class="digit-container">
        <ul class="slide-container minute-tens">
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
        <ul class="slide-container minute-ones">
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
    </li>
    <li class="digit-container">
        <ul class="slide-container second-tens">
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
        <ul class="slide-container second-ones">
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
    </li>
</ol>