body {
  background-color: $background-color; }

@keyframes base10-first-seconds {
  0%, 9.9999%, 20%, 29.9999%, 40%, 49.9999%, 60%, 69.9999%, 80%, 89.9999%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  10%, 19.9999%, 30%, 39.9999%, 50%, 59.9999%, 70%, 79.9999%, 90%, 99.9999% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base10-first-minutes {
  0%, 9.9999%, 20%, 29.9999%, 40%, 49.9999%, 60%, 69.9999%, 80%, 89.9999%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  10%, 19.9999%, 30%, 39.9999%, 50%, 59.9999%, 70%, 79.9999%, 90%, 99.9999% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base10-first-hours {
  0%, 9.9999%, 20%, 29.9999%, 40%, 49.9999%, 60%, 69.9999%, 80%, 89.9999%, 100% {
    background-color: $hours-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $hours-inactive-color;
    z-index: 0; }
  10%, 19.9999%, 30%, 39.9999%, 50%, 59.9999%, 70%, 79.9999%, 90%, 99.9999% {
    background-color: $hours-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $hours-active-color;
    color: $hours-active-color;
    z-index: 1000; } }

@keyframes base10-second-seconds {
  0%, 19.9999%, 40%, 59.9999%, 80%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  20%, 39.9999%, 60%, 79.9999% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base10-second-minutes {
  0%, 19.9999%, 40%, 59.9999%, 80%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  20%, 39.9999%, 60%, 79.9999% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base10-second-hours {
  0%, 19.9999%, 40%, 59.9999%, 80%, 100% {
    background-color: $hours-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $hours-inactive-color;
    z-index: 0; }
  20%, 39.9999%, 60%, 79.9999% {
    background-color: $hours-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $hours-active-color;
    color: $hours-active-color;
    z-index: 1000; } }

@keyframes base10-third-seconds {
  0%, 39.9999%, 80%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  40%, 79.9999% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base10-third-minutes {
  0%, 39.9999%, 80%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  40%, 79.9999% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base10-third-hours {
  0%, 39.9999%, 80%, 100% {
    background-color: $hours-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $hours-inactive-color;
    z-index: 0; }
  40%, 79.9999% {
    background-color: $hours-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $hours-active-color;
    color: $hours-active-color;
    z-index: 1000; } }

@keyframes base10-fourth-seconds {
  0%, 79.9999%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  80%, 99.9999% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base10-fourth-minutes {
  0%, 79.9999%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  80%, 99.9999% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base10-fourth-hours {
  0%, 79.9999%, 100% {
    background-color: $hours-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $hours-inactive-color;
    z-index: 0; }
  80%, 99.9999% {
    background-color: $hours-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $hours-active-color;
    color: $hours-active-color;
    z-index: 1000; } }

@keyframes base6-first-seconds {
  0%, 16.6666%, 33.3333%, 49.9999%, 66.6667%, 83.3332%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  16.6667%, 33.3332%, 50%, 66.6666%, 83.3333%, 99.9999% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base6-first-minutes {
  0%, 16.6666%, 33.3333%, 49.9999%, 66.6667%, 83.3332%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  16.6667%, 33.3332%, 50%, 66.6666%, 83.3333%, 99.9999% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base6-second-seconds {
  0%, 33.3332%, 66.6667%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  33.3333%, 66.6666% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base6-second-minutes {
  0%, 33.3332%, 66.6667%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  33.3333%, 66.6666% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base6-third-seconds {
  0%, 66.6666%, 100% {
    background-color: $seconds-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $seconds-inactive-color;
    z-index: 0; }
  66.6667%, 99.9999% {
    background-color: $seconds-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $seconds-active-color;
    color: $seconds-active-color;
    z-index: 1000; } }

@keyframes base6-third-minutes {
  0%, 66.6666%, 100% {
    background-color: $minutes-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $minutes-inactive-color;
    z-index: 0; }
  66.6667%, 99.9999% {
    background-color: $minutes-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $minutes-active-color;
    color: $minutes-active-color;
    z-index: 1000; } }

@keyframes base24-first-hours {
  0%, 41.6666%, 83.3333%, 100% {
    background-color: $hours-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $hours-inactive-color;
    z-index: 0; }
  41.6667%, 83.3332% {
    background-color: $hours-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $hours-active-color;
    color: $hours-active-color;
    z-index: 1000; } }

@keyframes base24-second-hours {
  0%, 83.3332%, 100% {
    background-color: $hours-inactive-color;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.75);
    color: $hours-inactive-color;
    z-index: 0; }
  83.3333%, 99.9999% {
    background-color: $hours-active-color;
    box-shadow: 0 0 1.75vw 0.5vw $hours-active-color;
    color: $hours-active-color;
    z-index: 1000; } }

.second-ones .slide:nth-child(1) {
  animation-name: base10-fourth-seconds; }

.second-ones .slide:nth-child(2) {
  animation-name: base10-third-seconds; }

.second-ones .slide:nth-child(3) {
  animation-name: base10-second-seconds; }

.second-ones .slide:nth-child(4) {
  animation-name: base10-first-seconds; }

.minute-ones .slide:nth-child(1) {
  animation-name: base10-fourth-minutes; }

.minute-ones .slide:nth-child(2) {
  animation-name: base10-third-minutes; }

.minute-ones .slide:nth-child(3) {
  animation-name: base10-second-minutes; }

.minute-ones .slide:nth-child(4) {
  animation-name: base10-first-minutes; }

.hour-ones .slide:nth-child(1) {
  animation-name: base10-fourth-hours; }

.hour-ones .slide:nth-child(2) {
  animation-name: base10-third-hours; }

.hour-ones .slide:nth-child(3) {
  animation-name: base10-second-hours; }

.hour-ones .slide:nth-child(4) {
  animation-name: base10-first-hours; }

.second-tens .slide:nth-child(1) {
  animation-name: base6-third-seconds; }

.second-tens .slide:nth-child(2) {
  animation-name: base6-second-seconds; }

.second-tens .slide:nth-child(3) {
  animation-name: base6-first-seconds; }

.minute-tens .slide:nth-child(1) {
  animation-name: base6-third-minutes; }

.minute-tens .slide:nth-child(2) {
  animation-name: base6-second-minutes; }

.minute-tens .slide:nth-child(3) {
  animation-name: base6-first-minutes; }

.hour-tens .slide:nth-child(1) {
  animation-name: base24-second-hours; }

.hour-tens .slide:nth-child(2) {
  animation-name: base24-first-hours; }
