body {
  margin: 0.5em;
  max-width: 1440px; }

header {
  margin-bottom: 1em; }
  header #description, header #title {
    text-align: center; }
  header #description {
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em; }
  header #logo {
    filter: drop-shadow(0.25rem 0.25rem 0.25rem #555555); }

footer {
  margin-top: 1em;
  text-align: center; }

@media (min-width: 1440px) {
  body {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em; } }
