*, *::before, *::after {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  overflow-x: hidden; }

#clock-container {
  display: flex;
  font-size: 0;
  line-height: 0;
  list-style-type: none;
  margin: 0;
  max-height: 100vh;
  max-width: calc(100vh * (3 / 2));
  padding: 0;
  text-align: center; }

.digit-container {
  align-items: flex-end;
  display: flex;
  padding-left: 1vh;
  padding-right: 1vh;
  width: calc(100% / 3); }

.digit-container > .slide-container:first-child {
  margin-right: 0vh; }

.digit-container > .slide-container:last-child {
  margin-left: 0vh; }

.screen-reader-accessible-hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.slide-container {
  margin: 0;
  padding: 0;
  width: 50%; }

.slide {
  border-radius: 50%;
  border-style: outset;
  border-width: 0px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  display: inline-block;
  height: 0;
  margin-bottom: calc(2.5% + 0.5vh);
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: calc(2.5% + 0.5vh);
  overflow: hidden;
  padding-bottom: calc(95% - (0px * 2));
  position: relative;
  width: 95%; }

.second-ones .slide {
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.second-tens .slide {
  animation-duration: 60s;
  animation-iteration-count: infinite; }

.minute-ones .slide {
  animation-duration: 600s;
  animation-iteration-count: infinite; }

.minute-tens .slide {
  animation-duration: 3600s;
  animation-iteration-count: infinite; }

.hour-ones .slide {
  animation-duration: 36000s;
  animation-iteration-count: infinite; }

.hour-tens .slide {
  animation-duration: 86400s;
  animation-iteration-count: infinite; }
