.color {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 0px;
    overflow: hidden;
    padding-bottom: 10%;
    width: 10%;
}

.colors {
    list-style-type: none;
    padding: 0px;
}

#custom-colors {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
}

#custom-colors .custom-color {
    flex: 1 1 50%;
    padding: 1em;
}

#custom-colors .custom-color .color-picker {
    display: block;
    margin-bottom: 0.5em;
    width: 50%;
}

.section-header {
    margin-top: 0;
}

#submit {
    text-align: right;
}

.swatch {
    line-height: 0px;
    margin-bottom: 0.5em;
    padding: 0px;
}

.swatch:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

.swatch-container {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    width: 100%;

    a {
        text-decoration: none;
    }
}

.swatch-container > li {
    float: left;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    width: 25%;
}

.swatch-container > li:first-child:nth-last-child(1) {
    width: 100%;
}

.swatch-container > li:first-child:nth-last-child(2),
.swatch-container > li:first-child:nth-last-child(2) ~ li {
    width: 50%;
}

.swatch-container > li:first-child:nth-last-child(3),
.swatch-container > li:first-child:nth-last-child(3) ~ li {
    width: calc(100% / 3);
}

@media (max-width: 768px) {
    #custom-colors .custom-color {
        flex: 1 1 100%;
    }

    #custom-colors .custom-color .color-picker {
        width: 100%;
    }

    #submit {
        text-align: center;
    }

    .swatch-container > li {
        flex: 1 1 100%;
    }
}
